* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(16, 16fr);
  grid-template-rows: repeat(16, 16fr);
  grid-auto-rows: auto;
  border: 1px solid black;
}

.div-el {
  border: 1px solid black;
  display: inline-block;
  height: auto;
  width: auto;
}

.main {
  margin-top: 10%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.hover {
  background-color: lime;
}

.reset {
  justify-self: center;
  margin-bottom: 1.25rem;
  width: 5em;
  height: 5em;
  border: 1px solid black;
  padding: 10px 10px;
  border-radius: 50%;
  background-color: rgb(236, 235, 235);
  font-weight: 700;
}

.reset:hover {
  box-shadow: 0px 0px 10px magenta;
  border: 1px solid magenta;
  transition: all 0.25s;
}
